* {
    box-sizing: border-box;
}  

body {
    margin: 0;
    padding: 0;
}

main {
    margin: 4em auto;
}

section {
    padding: 3em;
    margin: 0 auto;
}

h2 {
    text-align: center;
    font-size: 2.5em;
    padding: 0;
    margin: 0;
}

#container {
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    max-width: 960px;
}

.image-sizing {
    width: 100%;
    max-width: 320px;
    height: auto;
    padding: 10px;
    margin: 0;
}



/*Mobile Styles*/